* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flide-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.flide-track {
    display: flex;
}

.flide-slide {
    padding: 30px;
    flex: 0 0 auto;
}

.slide-1 {
    background: #be3939;
}

.slide-2 {
    background: #39be4f;
}

.slide-3 {
    background: #3940be;
}

.slide-4 {
    background: #be398f;
}

.slide-5 {
    background: #beb139;
}

.slide-6 {
    background: #be6139;
}

.flide-prev, 
.flide-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.flide-prev {
    left: 5px;
}

.flide-next {
    right: 5px;
}